<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% block head %} {% endblock %}
	</head>
	<body>
		<div class="header">
			<h1>CarolNews</h1>
			<div class="menu">
				<a href="{{url_for('news.homeSubject',subject='pets')}}"
					>Pets</a
				>
				<a href="{{url_for('news.homeSubject',subject='arte')}}"
					>Arte</a
				>
				<a href="{{url_for('news.homeSubject',subject='geek')}}"
					>Geek</a
				>
			</div>
		</div>
		{% block content %} {% endblock %}
	</body>
</html>

<style>
	.header {
		display: flexbox;
		display: inline-block;
	}
</style>
